html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--poppins);
  background-color: #000a1e;
}

:root {
  --heightNav: 65px;
  --wht: #fff;
  --blk: #000;
  --primary: #28272b;
  --poppins: "Poppins", sans-serif;
  --NBAprimary: #17408b;
  --NBAsecondary: #c9082a;
}

.active_overlay {
  transform: translateY(0%) !important;
}

.notice {
  background-color: var(--NBAsecondary);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  border-radius: 8px;
  overflow: hidden;
}
.notice-bc {
  height: 15em;
  background-image: url(https://cdn.dribbble.com/users/14059/screenshots/15007708/media/f20f1a7efbb2f0a8938c7fb1e32aba2a.jpg?compress=1&resize=1600x1200);
  background-position: center;
  background-size: cover;
}
.notice-con {
  padding: 10px;
}
.notice-mssg {
  padding: 15px 0;
  font-size: 0.85em;
}
.notice-btn {
  cursor: pointer;
  padding: 10px 4px;
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  background-color: var(--NBAsecondary);
  color: var(--wht);
  font-family: inherit;
  border-radius: 4px;
}

.overlay {
  height: calc(100% - var(--heightNav));
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: 43;
  transition: all 0.85s ease-in-out;
  transform: translateY(100%);
}
.overlay-inner {
  height: 100%;
  position: relative;
  overflow: scroll;
}
.overlay-inner::-webkit-scrollbar {
  display: none;
}

.dash {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 430px;
  border-radius: 10px;
  overflow: hidden;
}
.dash-left {
  background-color: var(--NBAprimary);
  padding: 0px 15px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dash-right {
  position: relative;
  flex: 1;
  background-color: var(--wht);
  height: calc(100% - 64px);
  overflow: scroll;
}
.dash-right::-webkit-scrollbar {
  display: none;
}

.header-left {
  color: var(--NBAsecondary);
  font-size: 0.85em;
  padding: 3px 8px;
  border-radius: 4px;
}
.header-left-span {
  color: var(--NBAprimary);
}
.header-left-span::before {
  content: "|";
  color: var(--wht);
}

.teams {
  border-radius: 8px;
  width: calc(100% - 20px);
  margin: 1em auto 4em auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}
.teams-item {
  flex: 1 35%;
  align-items: center;
  display: flex;
  background-color: #e8e8e8;
  flex-direction: column;
  padding: 10px 6px;
  border-radius: 4px;
  margin: 0.25em;
}
.teams-item-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 0.84em;
  align-items: center;
}
.teams-item:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-color: var(--blk);
}
.teams-item-logo {
  display: flex;
}
.teams-item-logo img {
  height: 32px;
  width: 32px;
}
.teams-item-name {
  color: #a7a7a7;
}
.teams-item-short {
  color: #696969;
}

.logo {
  cursor: pointer;
  display: flex;
}
.logo img {
  height: 32px;
}

.close {
  background-color: var(--NBAsecondary);
  border-radius: 4px;
  height: 54px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.2s ease-in-out;
  z-index: 99;
}
.close-span {
  color: var(--wht);
  font-size: 0.85em;
}

.team-selected_close {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team_nav {
  margin-left: auto;
  cursor: pointer;
}
.team_nav-span {
  display: flex;
  align-items: center;
  padding: 4px 7px;
  width: 59px;
  background-color: var(--wht);
  color: var(--NBAprimary);
  border-radius: 100px;
}
.team_nav-icon {
  display: flex;
}
.team_nav-icon img {
  height: 20px;
  width: 20px;
}
.team_nav-short {
  font-size: 0.84em;
  margin-left: 7px;
}

.hdr {
  padding: 7em 0;
  background-size: cover;
}

.nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 33;
  background-color: #f3f3f3;
}
.nav-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.nav-item {
  font-size: 0.84em;
  text-align: center;
  flex: 1;
  list-style: none;
  display: flex;
  padding: 10px 2px;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  color: var(--blk);
  border-left: 1px solid #bfbfbf;
}
.nav-item-active {
  background-color: var(--NBAsecondary);
  color: var(--wht);
}

.fetched_info {
  display: none;
  height: 100%;
}
.fetched-content {
  height: 100%;
}

.content {
  display: none;
  padding: 10px;
  height: 100%;
}
.content-active {
  display: block;
}

.data-standings {
  background-color: #000;
}
.o_desc {
  padding: 10px;
  font-size: 0.8em;
  background-color: #f6f6f6;
  border-radius: 6px;
  font-weight: 300;
}
.o_game {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}
.o_games-hdr {
  font-size: 0.85em;
  font-weight: 300;
  margin: 1.4em 0;
}
.o_games-item {
  margin: 0.5em 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  transition: all ease-in-out 0.4s;
}
.o_games-item:hover {
  background-color: #e3e3e3;
}

.games-flex {
  display: flex;
  flex-direction: column-reverse;
}

.upcoming_game {
  position: relative;
  width: 100%;
  height: 10em;
  background: url("https://www.si.com/.image/t_share/MTcwMjUxMzM2NzI0NTIyMjA4/blazers-basketball.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin: 1em 0;
}
.upcoming_game:before {
  border-radius: 6px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.6;
}
.upcoming_game-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upcoming_game-item-headline {
  color: var(--wht);
  white-space: nowrap;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.upcoming_game-item-time {
  color: var(--wht);
  font-size: 0.85em;
}

.schedule-game {
  position: relative;
  margin: 0.5em 0;
  border-radius: 4px;
  background-color: #171616;
  color: #f5f5f5;
  padding: 10px;
  overflow: hidden;
  font-size: 0.85em;
  display: flex;
  flex-direction: row;
}
.schedule-game-left {
  width: 60%;
  border-right: 1px solid #3f3f3f;
}
.schedule-game-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.schedule-game-time {
  padding: 10px;
}
.schedule-game-date {
  padding: 10px;
}
.schedule-game-TV {
  position: absolute;
  top: 0px;
  right: 0px;
  width: fit-content;
  padding: 1px 7px;
  background-color: var(--NBAsecondary);
  font-size: 0.7em;
  color: var(--wht);
}

.live-item {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin-top: 1em;
  overflow: hidden;
  border-radius: 4px;
  background-color: #111010;
  position: relative;
}
.live-left {
  border-bottom: 1px solid #28272b;
}
.live-logo {
  display: flex;
  align-items: center;
}
.live-logo img {
  width: 43px;
  height: 43px;
}
.live-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.live-score {
  font-size: 1.4em;
  color: var(--wht);
  font-weight: 600;
}
.live-name {
  margin-top: 8px;
  font-size: 0.85em;
  color: var(--wht);
  white-space: nowrap;
}

.players {
  margin: 1em 0;
}
.players-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: #f2f2f2;
  margin-bottom: 0.5em;
  border-radius: 4px;
}
.players-item-image {
  display: flex;
  align-items: center;
}
.players-item-image img {
  width: 36px;
  height: 36px;
  border-radius: 100px;
}
.players-item-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.players-name {
  font-size: 0.85em;
}
.players-position {
  color: #adadad;
  font-size: 0.75em;
}

.liveStatus {
  position: absolute;
  top: 0px;
  padding: 0px 10px;
  overflow: hidden;
  right: 0px;
  width: fit-content;
  font-size: 0.65em;
  background-color: var(--NBAsecondary);
  color: var(--wht);
}

.manager {
  background-color: var(--blk);
  color: var(--wht);
}

.footer {
  height: 5em;
  width: 100%;
}

.homeTeam {
  color: var(--NBAsecondary);
}

.awayTeam {
  color: #7d7d7d;
}

@media only screen and (max-width: 600px) {
  .dash {
    border-radius: 0px;
    height: 100%;
    width: 100%;
  }
  .dash_right {
    height: 130% !important;
  }

  .close {
    position: sticky;
    bottom: 50px;
  }

  .overlay-inner {
    height: 90%;
  }

  .fetched-content {
    height: calc(100% + 40px);
  }
}
@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.isLive {
  color: var(--wht);
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}